@charset "UTF-8";
body {
	font-family: arial, helvetica, "sans-serif";
	background-color:#83e1ad ;
	margin: 0px;
}
header {
	background-color: #063d1f;
	padding:20px;
}
#principal {
	text-align: center;
	color: white;
	padding: 20px 40px;
}
nav {

}
nav > a {
	color: white;
	text-decoration: none;
	margin-right: 30px ;
}
main {
	background-color: white;
	padding: 15px;
	margin: 0px 80px;
}
aside {
	margin: 15px;
	background-color: #c5ebd6;
	padding: 10px;
	border-radius: 10px;
}
aside > h2 {
	background-color: #2fa866;
	color: white;
	padding: 15px;
	margin: 0px;
}
h1 {
	text-align: center;
	color: white;
}
h2 {

}
p {

}
footer {

}
